*.rpy
*.rpy*
*.cae
*.jnl
*.mtx
*.com
*.sim
*.inp
*.txt
*.log
*.pyc
*.dat
*.odb
*.prt
*.sta
*.msg
*.png
*.env
*.rec
*.npz
*.spck
*.step
*.json
*.sat
*.sbrs
*.fbi
*.sim
*.odb
*.odb_f
*.ipm
*.sir
*.spckst
*.intinfo
*.fecache
*.sbr
*.SMABulk
*.mdl
*.simlog
*.stt
*.cid
*.023*
*.lck
*.fbi
*.fmu
*.cst